# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Executables and binaries
*.exe
*.dll
*.pdb
*.obj
*.lib
*.app
*.iobj
*.ipdb

# Logs and databases
*.log
*.mdb
*.opendb
*.VC.db
*.VC.opendb

# Temporary files
*_i.c
*_p.c
*.idb
*.tlog
*.lastbuildstate
*.cachefile
*.tmp
*.temp

# Others
*.dbmdl
*.bak
*.backup
*.res
